.hero-main-banner-content {
    margin-top: 85px;
  }
  
  .hero-main-banner-content .sub-title {
    color: #0000ff;
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
  }
  
  .hero-main-banner-content h1 {
    line-height: 1.2;
    margin-bottom: 0;
    font-weight: 800;
    font-size: 59px;
  }
  
  .hero-main-banner-content p {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .hero-main-banner-content .btn-box {
    margin-top: 25px;
  }
  
  .hero-main-banner-content form {
    position: relative;
    margin-top: 30px;
  }
  
  .hero-main-banner-content form .input-newsletter {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: none;
    height: 65px;
    padding-left: 25px;
    border-radius: 70px;
    padding-top: 5px;
    outline: 0;
    color: #212529;
    -webkit-box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;
            box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;
  }
  
  .hero-main-banner-content form .input-newsletter::-webkit-input-placeholder {
    color: #737b9a;
  }
  
  .hero-main-banner-content form .input-newsletter:-ms-input-placeholder {
    color: #737b9a;
  }
  
  .hero-main-banner-content form .input-newsletter::-ms-input-placeholder {
    color: #737b9a;
  }
  
  .hero-main-banner-content form .input-newsletter::placeholder {
    color: #737b9a;
  }
  
  .hero-main-banner-content form button {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: #0000ff;
    color: #ffffff;
    border: none;
    height: 55px;
    padding: 0 30px;
    border-radius: 70px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    line-height: 60px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
  }
  
  .hero-main-banner-content form button:hover {
    background-color: #fa7070;
    color: #ffffff;
  }

  .hero-main-banner-content .sub-title {
    color: #0000ff;
    display: block;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
  }

  .hero-banner-content form .input-newsletter {
    display: block;
    width: 100%;
    background-color: #ffffff;
    border: none;
    height: 65px;
    padding-left: 25px;
    border-radius: 70px;
    padding-top: 5px;
    outline: 0;
    color: #212529;
    -webkit-box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;
            box-shadow: 0px 5px 28.5px 1.5px rgba(149, 152, 200, 0.2) !important;
  }
  
  .hero-banner-content form .input-newsletter::-webkit-input-placeholder {
    color: #737b9a;
  }
  
  .hero-banner-content form .input-newsletter:-ms-input-placeholder {
    color: #737b9a;
  }
  
  .hero-banner-content form .input-newsletter::-ms-input-placeholder {
    color: #737b9a;
  }
  
  .hero-banner-content form .input-newsletter::placeholder {
    color: #737b9a;
  }

  .d-table {
    width: 100%;
    height: 100%;
  }
  
  .d-table-cell {
    vertical-align: middle;
  }
  
  
  .hero-banner .container-fluid {
    max-width: 1920px;
  }
  .hero-banner.banner-bg2 {
   
    border-bottom: 1px solid #f7f7f7;
  }